<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <form @submit.prevent=submitForm() action="post">
    <p v-if="errors.length">
      <b>Please correct the following errors:</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
                  <label>Name</label>
                  <input type="text" :disabled="buttonStatus == 'upload'" id="name" name="name" ref="name" v-model="name"><br>
                  <label>Address</label>
                  <textarea type="text" :disabled="buttonStatus == 'upload'" id="address" name="address" ref="address" v-model="address"></textarea><br>
                  <label>No. Hp</label>
                  <input type="number" :disabled="buttonStatus == 'upload'" id="no_hp" name="no_hp" ref="no_hp" v-model="no_hp">
                  
                  <div v-if="buttonStatus == 'submit'">
                    <button type="submit">SUBMIT</button>
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <button type="button" @click="updateMember(idMemberEdit)">UPDATE</button>
                <button type="button" @click="clearForm">Cancel</button>
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input type="file" name="photo" ref="photo">
                    <button type="button" @click="submitPhotoProfile(idUploadProfile)">UPLOAD</button>
                <button type="button" @click="clearForm">CANCEL</button>
                </div>
   
              </form>
   
              <div>
                <members-component :members="members" @remove-member="removeMember" @edit-member="editMember" @upload-pfp="uploadPhotoProfile"></members-component>
            </div>
        </div>
    
        <template id="membersTemplate">
            <table border="1">
                <tr v-for="member in members">
                    <td>
                        <img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/1920x1080'" width="96" height="54" alt="">
                    </td>
                    <td>
                        <b>Name : </b> {{ member.name }} <br>
                        <b>Address : </b> {{ member.address }} <br>
                        <b>No. HP : </b> {{ member.no_hp }} <br>
                        <b>Member di Buat Pada : </b> {{ member.created_at }} <br>
                        <b>Update terakhir dilakukan Pada : </b> {{ member.updated_at }} <br>
                    </td>
                    <td>
                        <button @click="$emit('edit-member', member)">Edit</button>
                        <button @click="$emit('remove-member', member.id)">Hapus</button>
                        <button @click="$emit('upload-pfp', member)">Upload Foto</button>
                    </td>
                </tr>
            </table>
        </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script>
        var MembersComponent = {
            template: '#membersTemplate',
            data: function(){
                return {
                    photoDomain: 'http://demo-api-vue.sanbercloud.com',
                }
            },
            props: ['members']
        }

        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                buttonStatus: 'submit',
                idMemberEdit: null,
                idUploadProfile: null,
            },
            created(){
                this.getMembers()
            },
            components: {
                'members-component': MembersComponent
            },
            methods: {
                clearForm: function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.idMemberEdit = null
                    this.idUploadProfile = null
                    this.buttonStatus = 'submit'
                },
                validationForm: function(){
                    this.errors = []
                },
                submitData: function(){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method : 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }

                        axios(config)
                        .then((response)=>{
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })

                    }
                },
                getMembers: function(){
                    const config = {
                        method : 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                     .then((response)=>{
                        this.members = response.data.members
                     })
                     .catch((error)=>{
                        console.log(error)
                     })
                },
                removeMember: function(id){
                    if(confirm('Data anda akan di hapus')){
                        const config = {
                            method : 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
                            params: {_method : "DELETE"}
                        }

                        axios(config)
                        .then((response)=>{
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    }
                },
                editMember: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idMemberEdit = member.id
                },
                updateMember: function(id){
                    this.validationForm()
                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method : 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`,
                            params: {_method : "PUT"},
                            data: formData
                        }

                        axios(config)
                        .then((response)=>{
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    }
                },
                uploadPhotoProfile: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadProfile = member.id
                },
                submitPhotoProfile: function(id){
                    if(this.$refs.photo.files[0]){
                        let file = this.$refs.photo.files[0]
                        let formData = new FormData()
                        formData.append('photo_profile', file)

                        const config = {
                                method : 'post',
                                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                                data: formData
                            }

                            axios(config)
                            .then((response)=>{
                                this.clearForm()
                                this.getMembers()
                                this.errors = []
                                alert(response.data.message)
                            })
                            .catch((error)=>{
                                console.log(error)
                            })
                    }else{
                        this.errors.push('error')
                    }
                }
            }
        })
    </script>
</body>
</html>