<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz2-Mufiidah</title>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Daftar nama panggilan aku~</h1>

      <div v-if="!isEditing">
        <input placeholder="Silahkan masukan" type="text" v-model="todo" />
        <input type="submit" value="tambah" @click="storeTodo" />
      </div>
      <div v-else>
        <input placeholder="Silahkan masukan" type="text" v-model="todo" />
        <input type="submit" value="Update" @click="updateTodo" />
      </div>

      <ul>
        <li v-for="(todo, index) in todos">
          {{ todo }} 
          <button @click="editTodo(index, todo)">Ubah</button>
          <span> | </span>
          <button @click="removeTodo(index)">Hapus</button>
        </li>
        
      </ul>
    </div>
    <!-- Mufiidah Tri - Quiz 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      var vm = new Vue({
        el: "#app",

        data: {
          isEditing: false,
          todo: "",
          todos: ["Mufiidah", "Mupiidah", "Mupi", "Muff"],
          selectedTodo: null,
        },

        methods: {
          storeTodo() {
            this.todos.push(this.todo);
            this.todo = "";
          },

          removeTodo(index) {
            this.index = confirm("apakah anda yaqueen ?");
            if (this.index == true) {
              this.todos.splice(index, 1);
            } else {
              alert("jangan di hapus");
            }
          },

          updateTodo() {
            this.todos.splice(this.selectedIndex, 1, this.todo);
            this.todo = "";
            this.isEditing = false;
          },

          editTodo(index, todo) {
            this.isEditing = true;
            this.todo = todo;
            this.selectedIndex = index;
          },
        },
      });
    </script>
  </body>
</html>