<!-- Mufiidah Tri M -->
<!-- Tugas-9-Dan-10-Form-Input-Binding -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas_9-10</title>
</head>
<body>
  <div id="app">

    <form>
        <input type="text" v-model="caribuku" placeholder="Cari buku">
        <ul>
            <li v-for="item in cariData" :key="item.id">
                {{ item.title }}
            </li>
        </ul>
    </form>

  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
      
   var vm = new Vue({
      el: '#app',
      data() {
        return {
            caribuku:"",
            produk: [],
        };
      },
      created() {
          this.produk = [
              { title: "kalkulus dasar"},
              { title: "fisika dasar"},
              { title: "aljabar linier elementer"},
              { title: "aljabar abstrak"},
              { title: "algoritma pemograman"},
          ];
      },
      computed: {
          cariData() {
              return this.produk.filter((item) => {
                return item.title.match(this.caribuku);
              });
          }
      }
  })
  </script>
</body>
</html>